
* {
    box-sizing: border-box;
  }

  body {
    color: #3b4144;
  }

  @font-face {
    font-family: 'light';
    src: url(../media/Gilroy-Light.7191d9a0.otf);
  }

  @font-face {
    font-family: 'gilroy';
    src: url(../media/Gilroy-ExtraBold.otf);
  }

  h1 {
    font-family: 'gilroy';
  }

  @keyframes fadein {
    0% {
      opacity: 0;
    } 
    100% {
      opacity: 1;
    }
  }

  .header {
    background-image: url("../media/chic3.jpg");
    background-position: center center;
    background-size: 100%;
    }

  .nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
    border-color: rgb(235, 235, 235);
    border-radius: 4px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
    height: 40px;

    a {
      text-decoration: none;
      padding: 5px;
      color: black;
      font-family: 'light';
      font-size: 13px;
    }

    h1 {
      font-size: 16px;
    }
  }

  @media only screen and (min-width: 992px) {
    .nav {
      top: 0;
    }

    h1 {
      font-size: 14px;
    }
  }
  
  .offers {
    display: grid;
    justify-items: center;
    padding: 50px;
    padding-top: 40px;
    grid-gap: 20px;

    p {
      margin-left: 15px;
    }
  }
  
  @media only screen and (min-width: 992px) {
    .offers {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
  }

  .offerstwo {
    display: grid;
    justify-items: center;
    padding: 50px;
    padding-top: 40px;
    grid-gap: 20px;

    p {
      margin-left: 15px;
    }
  }
  
  @media only screen and (min-width: 992px) {
    .offerstwo {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
  }

  .offersthree {
    display: grid;
    justify-items: center;
    padding: 50px;
    padding-top: 40px;
    grid-gap: 20px;

    p {
      margin-left: 15px;
    }
  }
  
  @media only screen and (min-width: 992px) {
    .offersthree {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
  }
  
  .offers__cards {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
    border-color: rgb(235, 235, 235);
    transition: box-shadow 200ms ease-in 0s;
    border-radius: 4px;
    width: 100%;


    .offers__pictures {
      width: 100%;
    }

    ul {
      display: flex;
      list-style: none;
      padding-left: 16px;
      margin-bottom: 10px;
    }

    li {
      font-family: 'light';
      background: #f9f9f9;
      margin: 3px;
      font-size: 13px;
    }
  }

  .offers__description {
    line-height: 20px;
    h2 {
      font-size: 16px;
      font-family: 'light';
      margin-left: 16px;
    }
  }

  .offers--price {
    font-size: 14px;
    font-family: 'gilroy';
  }

  .offers--location {
    font-family: 'light';
    font-size: 14px;
  }

  .lok {
    text-align: center;
    font-size: 18px;
  }

  .title {
    font-size: 18px;
    text-align: center;
  }


    .lourd {
      text-align: center;
      font-size: 18px;
    }

