

* {
    box-sizing: border-box;
  }

  @keyframes fadein {
    0% {
      opacity: 0;
    } 
    100% {
      opacity: 1;
    }
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    display: flex;

    &__title {
      font-size: 17px;
    }
  }

  @font-face {
    font-family: 'vogue';
    src: url(../media/Vogue.ttf);
  }
  
  hr {
    width: 50px;
    height: 0.5em;
    background-color: black;
  }
  
  main h1 {
    font-size: 2em;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 2em;
  }
  
  .services {
    display: grid;
    justify-items: center;
    grid-gap: 30px;
    padding: 30px;
  }
  
  @media only screen and (min-width: 992px) {
    .services {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  
  .building {
    padding: 30px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.18);
    border-radius: 10px;
    &__pictogram {
      height: 70px;
      margin: 0 auto;
    }
    &__description {
      margin: 20px;
    }
  }

  .investment {
    padding: 30px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.18);
    border-radius: 10px;
    &__pictogram {
      height: 70px;
      margin: 0 auto;
    }
    &__description {
      margin: 20px;
    }
  }

  .estimate {
    padding: 30px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.18);
    border-radius: 10px;
    &__pictogram {
      text-align: center;
      margin: 0 auto;
    }
    &__description {
      margin: 20px;
    }
  }
  
  @media only screen and (min-width: 992px) {
    .card:hover {
      box-shadow: 0px 0px 20px rgba(20, 23, 28, 0.1), 0 3px 1px 0 rgba(20, 23, 28, 0.1);
    }
  }
  
  .offers {
    display: grid;
    justify-items: center;
    padding: 50px;
    grid-gap: 20px;

    &__pictures {
      width: 100%;
    }
  }
  
  @media only screen and (min-width: 992px) {
    .offers {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  
  .offers__cards {
    box-shadow: 0px 2px 4px rgba(0,0,0,0.18);
    border-radius: 10px;
  }
  
  @media only screen and (min-width: 992px) {
    .offers__cards:hover {
      box-shadow: 0px 0px 30px rgba(20, 23, 28, 0.1), 0 3px 1px 0 rgba(20, 23, 28, 0.1);
    }
  }
  
  .offers-content {
    padding: 20px;
  }
  
  .history {
    padding: 30px;
    margin: 30px;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.18);
    &:hover {
      box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1), 0 3px 1px 0 rgba(20, 23, 28, 0.1);
      transition: 0.1s;
    }
    hr {
      width: 25%;
    }
    p {
      margin: 40px;
    }
  }